body{

    background-color: hsl(220, 15%, 55%);
}

.a{
width: 250px;
height: 400px;
border: 1px solid black;
border-radius: 10px;
margin: auto;
background-color: hsl(0, 0%, 100%);

}
img{

    width: 210px;
    height: 230px;
    margin: 20px;
    border-radius: 10px;
}
.b{

    font-style: normal;
    font-size: large;
    text-align: center;
    margin: 5px;
    font-size:20px;
}

.c{
   text-align: center; 
   color: hsl(220, 15%, 55%);

}